
  <!-- begin #about section -->
  <section id="about">
  <!-- begin parallax image background 1 -->
  <div class="image-1" data-stellar-background-ratio="0.5">
    <!-- YOUR CAN CHANGE THE TINT COLOR JUST LIKE SOLID COLORS -->
    <div class="black-tint">
      <!-- HEADLINE STATEMENT -->
      <section class="row center">
      <h1 class="large">WE ARE THE EXPLORERS</h1>
      <h4 class="light serif">We design and create brands</h4>
      </section>
      <!-- begin icon row -->
      <section class="row bigtoppadding">
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-resize-full"></i>
        </div>
        <h5>RESPONSIVE DESIGN</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-apple"></i>
        </div>
        <h5>RETINA READY</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-star-empty"></i>
        </div>
        <h5>WELL DOCUMENTED</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      </section>
      <!-- end icon row -->
    </div>
  </div>
  <!-- end parallax image section 1 -->
  <!-- Agency info section -->
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h2>Inspiration</h2>
    </section>
    <!-- section content -->
    <section class="row bigtoppadding">
    <!-- wookmark collage -->
    <div id ="main" role="main">
      <ul id="tiles">
        <li>
          <a href="{{ 'image_10_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_10.jpg' | asset_url}}" width="200" height="283">
          </a>
        </li>
        <li>
          <a href="{{ 'image_2_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_2.jpg' | asset_url}}" width="200" height="300">
          </a>
        </li>
        <li>
          <a href="{{ 'image_3_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_3.jpg' | asset_url}}" width="200" height="252">
          </a>
        </li>
        <li>
          <a href="{{ 'image_4_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_4.jpg' | asset_url }}" width="200" height="158">
          </a>
        </li>
                <li>
          <a href="{{ 'image_5_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_5.jpg' | asset_url}}" width="200" height="283">
          </a>
        </li>
        <li>
          <a href="{{ 'image_6_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_6.jpg' | asset_url}}" width="200" height="300">
          </a>
        </li>
        <li>
          <a href="{{ 'image_7_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_7.jpg' | asset_url}}" width="200" height="252">
          </a>
        </li>
        <li>
          <a href="{{ 'image_8_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_8.jpg' | asset_url }}" width="200" height="158">
          </a>
        </li>
        <li>
          <a href="{{ 'image_9_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_9.jpg' | asset_url}}" width="200" height="283">
          </a>
        </li>
        <li>
          <a href="{{ 'image_10_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_10.jpg' | asset_url}}" width="200" height="300">
          </a>
        </li>
        <li>
          <a href="{{ 'image_2_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_2.jpg' | asset_url}}" width="200" height="252">
          </a>
        </li>
        <li>
          <a href="{{ 'image_3_big.jpg' | asset_url}}" rel="lightbox">
            <img src="{{ 'image_3.jpg' | asset_url }}" width="200" height="158">
          </a>
        </li>
      </ul>
    </div>
    <!-- end wookmark collage -->
    </section>
  </div>
   
  </section>
  <!-- end #about section -->