<section id="work">
  <div class="white">
    <section class="row midtoppadding">

      <div id="cbp-pgcontainer" class="cbp-pgcontainer">

        <ul class="cbp-pggrid">
          {% assign collection = collections.frontpage %}

          {% for product in collection.all_products %}
            <li>
              <a class="small-product" href="{{product.id}}">
                <div class="cbp-pgcontent">
                  <div class="prod-detail" id='prev-{{product.id}}'>
                    <!-- {{ product.title }} -->
                  </div>
                  <div class="cbp-pgitem">
                    <div class="cbp-pgitem-flip">
                      <img src="{{ product.featured_image.src | product_img_url: 'compact' }}" />
                      <img src="{{ product.featured_image.src | product_img_url: 'compact' }}" />
                    </div>
                  </div>
                </div>
              </a>
            </li>
        {% endfor %}
        </ul>
      <div class="product-viewers">
        {% assign collection = collections.frontpage %}
        {% for product in collection.all_products %}

          <div class="product-viewer row" id="{{product.id}}">

            <div class="five columns">
              <h4 class="product-title">{{product.title}}</h4>
              {{ product.featured_image.src | product_img_url: 'large' | img_tag }}
            </div>
            <div class="six columns">
              <form method="post" action="/cart/add" enctype="multipart/form-data" data-product-id="{{product.id}}">

                {% for variant in product.variants %}
                  <input type="hidden" name="id" value="{{ variant.id }}" />
                {% endfor %}


                <p class="price">{{ product.price | money }}</p>

                <hr>

                <div class="field">
                  <div class="quantity-label">
                    <p class="pd-label"> QUANTITY: </p>
                  </div>
                  <div class="shop-quantity">
                    <input min="1" name="quantity" type="number" value="1" />
                  </div>
                </div>

                <hr>

                <p class="pd-label">INSPIRATION:</p>
                <p class="product-desc">{{product.description}}</p>

                <div class="add-cart-btn xlarge btn primary">
                  <input type="submit" value="ADD TO BAG" id="add"/>
                </div>

              </form>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</section>










