<head>

  {{ 'import.css' | asset_url | stylesheet_tag }}
  {{ 'shutter.css' | asset_url | stylesheet_tag }}

  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}

  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>

  <style>
    .image-1{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
    .image-2{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
    .image-3{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
    .image-4{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
  </style>

</head>


<div class="rte">
  {{ page.content }}
</div>

<div id="preloader">
  <div id="status">
    &nbsp;
  </div>
</div>
<!-- begin main container -->
<div class="container main">
  <!-- begin home/slideshow section -->
  <section id="home" class="slideshow">
  <!-- begin header and navigation -->
  <header class="navbar" id="navbar">
  <div class="row">
    <a class="toggle" gumby-trigger="#navbar &gt; .row &gt; ul" href="#"><i class="icon-reorder"></i></a>
    <!-- change image source to your logo file 190px by 65px -->
    <h1 class="four columns logo">
    <a href="/">
    <img src="{{ 'logo.png' | asset_url}}" alt="logo">
    </a>
    </h1>
    <!-- navigation -->
    <!-- we use href attribute for li active class to work on different sections.
       we use gumby-goto for easing scroll to target sections -->
    <ul class="eight columns" id="top-nav">
      <li class="active"><a href="#home" class="skip" gumby-goto="#home" gumby-duration="800">HOME</a></li>
      <li><a href="#work" class="skip" gumby-goto="#work" gumby-duration="800" gumby-offset="-70">WORK</a></li>
      <li><a href="#about" class="skip" gumby-goto="#about" gumby-duration="800" gumby-offset="-70">ABOUT</a></li>
      <li><a href="#services" class="skip" gumby-goto="#services" gumby-duration="800" gumby-offset="-70">SERVICES</a></li>
      <li><a href="#contact" class="skip" gumby-goto="#contact" gumby-duration="800" gumby-offset="-70">CONTACT</a></li>
      <li><a href="blog.html">BLOG</a></li>
      <li><a href="features.html">FEATURES</a></li>
    </ul>
  </div>
  </header>
  <!-- Slideshow Navigation -->
  <div class="slider-nav">
    <section class="row">
    <ul id="slide-list">
    </ul>
    </section>
  </div>
  <div class="slider-base">
    <section class="row">
    <!-- Slideshow captions -->
    <div class="eight columns">
      <div id="slidecaption">
      </div>
    </div>
    <!-- Down link -->
    <div class="four columns right-text">
      <div class="arrow-link">
        <a href="#" class="skip" gumby-goto="#work" gumby-duration="400" gumby-offset="-70"><i class="icon-chevron-down"></i></a>
      </div>
    </div>
    </section>
  </div>
  </section>
  <!-- end slideshow section -->



  <!-- begin work section -->
  <section id="work">
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>SOME OF OUR</span> BEST WORKS</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</h5>
    </section>
    <!-- portfolio filters -->
    <!-- replace data filters for your project categories
  *remember to add your filters as classes to your projects for filters to work -->
    <section id="options" class="row midbottompadding">
    <ul id="filters" class="option-set">
      <li><a href="#" data-filter="*" class="selected">Show All</a></li>
      <li><a href="#" data-filter=".motion">Motion</a></li>
      <li><a href="#" data-filter=".web-design">Web Design</a></li>
      <li><a href="#" data-filter=".photography">Photography</a></li>
    </ul>
    </section>
    <!-- project details container 
   YOU DO NOT NEED TO EDIT ANYTHING HERE 
   -->
    <div id="ajax-section">
      <div class="clearfix">
        <!-- PROJECT NAVIGATION AND CLOSE BUTTON -->
        <section class="row">
        <div id="ajax-nav">
          <ul>
            <li id="prevProject"><a href="#"><i class="icon-chevron-left"></i></a></li>
            <li id="nextProject"><a href="#"><i class="icon-chevron-right"></i></a></li>
            <li id="closeProject"><a href="#work"><i class="icon-remove"></i></a></li>
          </ul>
        </div>
        <!-- END PROJECT NAVIGATION AND CLOSE BUTTON -->
        </section>
        <div id="loader">
        </div>
        <!-- PROJECT WILL LOSE INSIDE 'AJAX-INSIDE' -->
        <div id="ajax-outside">
          <div id="ajax-inside">
          </div>
        </div>
        <!-- END AJAX CONTENT -->
      </div>
      <!-- END AJAX SECTION -->
      <div class="clear">
      </div>
    </div>
    <!-- BEGIN PORTFOLIO ROW-->
    <section class="row midtoppadding">
    <!-- we use class=grid and id=project for our project listing -->
    <ul class="grid" id="projects">
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>01</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>02</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>03</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>04</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>05</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>06</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>07</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>08</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
      <!-- project 
   remember to add your data-filter as class 
   -->
      <li class="grid-item web-design">
      <div class="grid-project">
        <!-- ajax link -->
        <a href="#!projects/project-1.html" class="open-slide">
        <!-- project image -->
        <div class="img-box">
          <img src="preview/pre450.png" alt="project">
        </div>
        <!-- project title and category -->
        <div class="project-info">
          <h1>PROJECT TITLE <span>09</span></h1>
          <h6>Design &amp; Development</h6>
        </div>
        </a>
      </div>
      </li>
    </ul>
    <!-- end portfolio listings -->
    </section>
    <!-- END PORTFOLIO SECTION -->
  </div>
  </section>
  <!-- end #work section -->


  <!-- begin #about section -->
  <section id="about">
  <!-- begin parallax image background 1 -->
  <div class="image-1" data-stellar-background-ratio="0.5">
    <!-- YOUR CAN CHANGE THE TINT COLOR JUST LIKE SOLID COLORS -->
    <div class="black-tint">
      <!-- HEADLINE STATEMENT -->
      <section class="row center">
      <h1 class="large">WE ARE THE EXPLORERS</h1>
      <h4 class="light serif">We design and create brands</h4>
      </section>
      <!-- begin icon row -->
      <section class="row bigtoppadding">
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-resize-full"></i>
        </div>
        <h5>RESPONSIVE DESIGN</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-apple"></i>
        </div>
        <h5>RETINA READY</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      <div class="four columns center">
        <!-- main icon -->
        <div class="main-icon">
          <i class="icon-star-empty"></i>
        </div>
        <h5>WELL DOCUMENTED</h5>
        <p>
           Lorem ipsum dolor sit amet, adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus sem.
        </p>
      </div>
      </section>
      <!-- end icon row -->
    </div>
  </div>
  <!-- end parallax image section 1 -->
  <!-- Agency info section -->
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>A LITTLE</span> ABOUT US</h1>
    <h5 class="grey-text">
    We create brands people love and activate them across digital media.</h5>
    </section>
    <!-- section content -->
    <section class="row bigtoppadding">
    <!-- story -->
    <div class="six columns">
      <h5 class="bold">OUR STORY</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br>
        <br>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Morbi suscipit interdum molestie.
      </p>
    </div>
    <!-- skills -->
    <div class="five columns push_one">
      <h5 class="bold">OUR SKILLS</h5>
      <!-- skills / Add width out of 100% which will show the percentage of your skills -->
      <div class="skill-box">
        <div class="skill" style="width:92%">
           GRAPHIC DESIGN <span>92%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:86%">
           ART DIRECTION <span>86%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:78%">
           PRINT DESIGN <span>78%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:96%">
           DEVELOPMENT <span>96%</span>
        </div>
      </div>
      <div class="skill-box">
        <div class="skill" style="width:94%">
           WEB DESIGN <span>94%</span>
        </div>
      </div>
    </div>
    <!-- end skills -->
    </section>
    <!-- begin team section -->
    <!-- team heading -->
    <section class="row heading center bigtoppadding">
    <h4>MEET THE TEAM</h4>
    <h5 class="eight columns centered">These are the people behind all the magic.</h5>
    </section>
    <!-- team row / add team info -->
    <section class="row bigtoppadding">
    <!-- add class 'team' to each of the team member column -->
    <div class="four columns team">
      <!-- team image -->
      <div class="border-img">
        <img src="preview/pre200.png" alt="person">
      </div>
      <!-- member info and social media icons -->
      <div class="member-info">
        <h5>JEN F THOMPSON</h5>
        <h6 class="blue-text italic">Lead Designer</h6>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </p>
        <a href="" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="" title="Google +"><i class="icon-google-plus"></i></a>
      </div>
    </div>
    <!-- add class 'team' to each of the team member column -->
    <div class="four columns team">
      <!-- team image -->
      <div class="border-img">
        <img src="preview/pre200.png" alt="person">
      </div>
      <!-- member info and social media icons -->
      <div class="member-info">
        <h5>NIKOLAS SULEVAN</h5>
        <h6 class="blue-text italic">Lead Developer</h6>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </p>
        <a href="" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="" title="Google +"><i class="icon-google-plus"></i></a>
      </div>
    </div>
    <!-- add class 'team' to each of the team member column -->
    <div class="four columns team">
      <!-- team image -->
      <div class="border-img">
        <img src="preview/pre200.png" alt="person">
      </div>
      <!-- member info and social media icons -->
      <div class="member-info">
        <h5>LISA MAHONE</h5>
        <h6 class="blue-text italic">Account Manager</h6>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
        </p>
        <a href="" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="" title="Google +"><i class="icon-google-plus"></i></a>
      </div>
    </div>
    </section>
  </div>
  <!-- end team -->
  <!-- client parallax image section 2 -->
  <div class="image-2" data-stellar-background-ratio="0.5">
    <div class="black-tint">
      <!-- client section -->
      <section class="row heading center">
      <h3>SOME OF OUR CLIENTS</h3>
<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</h5>      </section>
      <!-- client logo row -->
      <section class="row">
      <div class="eleven columns centered">
        <div class="two columns">
          <img src="preview/logo2.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo1.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo3.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo5.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo4.png" alt="client" class="client">
        </div>
        <div class="two columns">
          <img src="preview/logo6.png" alt="client" class="client">
        </div>
      </div>
      <!-- call to action button -->
      <div class="four columns centered center">
        <div class="ten columns centered primary large btn">
          <a href="#">CONTACT US</a>
        </div>
      </div>
      </section>
    </div>
  </div>
  <!-- end  client/image parallax div -->
  </section>
  <!-- end #about section -->
  <!-- begin #services section -->
  <section id="services">
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>SERVICES</span>WE OFFER</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</h5>
    </section>
    <!-- begin service row -->
    <section class="row bigtoppadding">
    <!-- add class 'service-box' for each column of services -->
    <div class="four columns service-box">
      <!-- service icon -->
      <div class="service-icon">
        <i class="icon-eye-open"></i>
      </div>
      <h5>DESIGN</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
      <!-- services list -->
      <ul class="services">
        <li>Web Design</li>
        <li>Design for Mobile</li>
        <li>Branding and Identity</li>
        <li>Print Design</li>
      </ul>
    </div>
    <!-- add class 'service-box' for each column of services -->
    <div class="four columns service-box">
      <!-- service icon -->
      <div class="service-icon">
        <i class="icon-list-alt"></i>
      </div>
      <h5>DEVELOPMENT</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
      <!-- services list -->
      <ul class="services">
        <li>Front &amp; Back-end Development</li>
        <li>Mobile Development</li>
        <li>Ecommerce</li>
      </ul>
    </div>
    <!-- add class 'service-box' for each column of services -->
    <div class="four columns service-box">
      <!-- service icon -->
      <div class="service-icon">
        <i class="icon-camera"></i>
      </div>
      <h5>DIRECTION</h5>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
      <!-- services list -->
      <ul class="services">
        <li>Art Direction</li>
        <li>Social Media Strategy</li>
        <li>PR Management</li>
        <li>Photography</li>
      </ul>
    </div>
    </section>
  </div>
  <!-- end white -->
  </section>
  <!-- end service section -->
  <!-- quote parallax image section 3 -->
  <div class="image-3" data-stellar-background-ratio="0.5">
    <div class="black-tint">
      <!-- QUOTE -->
      <section class="row heading center bigpadding">
      <h4 class="ten columns centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est..</h4>
      </section>
    </div>
  </div>
  <!-- end  quote/image parallax div -->
  <!-- begin showreel div -->
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>WATCH OUR</span>SHOWREEL</h1>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</h5>
    </section>
    <section class="row bigtoppadding">
    <div class="twelve columns">
      <!-- you can change class from vimeo to youtube if you are using YT -->
      <article class="vimeo video">
      <iframe src="http://player.vimeo.com/video/50650297">
      </iframe>
      </article>
    </div>
    </section>
  </div>
  <!-- end showreel div -->
  <!-- begin parallax twitter container -->
  <!-- change twitter username in index.js located in js folder -->
  <div class="image-4" data-stellar-background-ratio="0.5" id="twitter">
    <div class="black-tint">
      <section class="row">
      <div class="two columns centered">
        <!-- twitter icon link to your twitter profile -->
        <div class="second-icon">
          <i class="icon-twitter"></i>
        </div>
      </div>
      <div id="tweets" class="ten columns centered">
      </div>
      </section>
    </div>
  </div>
  <!-- end parallax twitter container -->
  <!-- begin contact container -->
  <section id="contact">
  <div class="white">
    <!-- section heading -->
    <section class="row heading">
    <h1><span>GET IN</span>TOUCH</h1>
    <h5>Hey there! Nice to meet you. If you like what you see and would like to work with us,please fill the form below to get in touch. We aim to respond to all enquiries within three working days.</h5>
    </section>
    <!-- contact form row-->
    <section class="row bigpadding">
    <div class="eight columns centered">
      <!-- div shows on successful form submission -->
      <div id="success">
      </div>
      <!-- begin form div -->
      <div id="fields">
        <!-- begin contact form -->
        <form method="post" action="#" id="contactform">
          <ul>
            <li>
            <p class="grey-text italic">
              * All fields are required.
            </p>
            </li>
            <li class="field"><input class="text input" type="text" placeholder="Your Name" name="name" id="name"></li>
            <li class="field"><input class="email input" type="email" placeholder="Your Email" name="email" id="email"></li>
            <li class="field"><input class="subject input" type="text" placeholder="Subject" name="subject" id="subject"></li>
            <li class="field"><textarea class="input textarea" placeholder="Your Message" rows="4" name="message" id="message"></textarea></li>
            <li class="row">
            <div class="eight columns">
              <p>
                <i class="icon-lock"></i> We will never share your information with any 3rd party.
              </p>
            </div>
            <!-- submit button -->
            <div class="four columns large btn primary">
              <input value="submit" class="submit" id="submit" name="submit" type="submit">
            </div>
            </li>
          </ul>
        </form>
        <!-- end contact form -->
      </div>
      <!-- end form div -->
    </div>
    </section>
    <!-- end contact form row -->
  </div>
  </section>
  <!-- end contact container -->
  <!-- begin footer -->
  <footer>
  <div class="black">
    <section class="row contact-info">
    <!-- 1st widget -->
    <div class="four columns">
      <h6>COME MEET US</h6>
      <h5>
      786 Some Place Nice, Rd Nice<br>
       State, Big Country 7860 </h5>
    </div>
    <!-- second widget -->
    <div class="four columns">
      <h6>CALL US TODAY</h6>
      <h5>
      <span>Tel: </span>+786 9876 543 210<br>
      <span>Fax: </span>+786 8876 543 210 </h5>
    </div>
    <!-- third widget -->
    <div class="four columns">
      <h6>WRITE TO US</h6>
      <h5 class="blue-text">
      Enquire@yourdomain.com<br>
       Support@yourdomain.com</h5>
    </div>
    </section>
    <!-- begin vertical align row -->
    <section class="row">
    <div class="valign">
    <!-- 50% width -->
    <div class="half">
      <h1 class="logo">EXPLORER</h1>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed ut perspiciatis unde omnis iste natus error sit voluptatem.
      </p>
    </div>
    <!-- 50% width -->
    <!-- add agency social media links -->
    <div class="half">
      <ul class="links">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-github"></i></a></li>
        <li><a href="#"><i class="icon-linkedin"></i></a></li>
        <li><a href="#"><i class="icon-google-plus"></i></a></li>
        <li><a href="#"><i class="icon-pinterest"></i></a></li>
      </ul>
    </div>
    </div>
    </section>
  </div>
  <!-- copyright -->
  <div class="white">
    <section class="row center">
    <p class="grey-text">
      © Explorer Template 2013. All rights reserved. Theme by CodeBlvck.
    </p>
    </section>
  </div>
  </footer>
  <!-- end footer -->
</div>





<!-- Grab Google CDN's jQuery, fall back to local if offline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ 'jquery-1.9.1.min.js' | asset_url }}"><\/script>')</script>
{{ 'gumby.min.js' | asset_url | script_tag }}

<!-- our scripts -->
{{ 'plugins.js' | asset_url | script_tag }}
{{ 'main.js' | asset_url | script_tag }}
{{ 'smoothscroll.js' | asset_url | script_tag }}

<!-- home page only script -->
{{ 'index.js' | asset_url | script_tag }}
{{ 'ajax.js' | asset_url | script_tag }}

<!-- Preloader script-->
<script type="text/javascript">
    //<![CDATA[
        $(window).load(function() { // makes sure the whole site is loaded
            $("#status").fadeOut(); // will first fade out the loading animation
            $("#preloader").delay(350).fadeOut("slow"); // will fade out the grey DIV that covers the website.      
})
    //]]>
</script>

<!-- background slideshow -->

{{ 'supersized.js' | asset_url | script_tag }}
{{ 'slideshow.js' | asset_url | script_tag }}
