<div id="preloader">
  <div id="ballWrapper">
    {{'loading.png' | asset_url | img_tag }}
    <center><p>Loading...</p></center>
  </div>
</div>

<div class="rte">
  {{ page.content }}
</div>


<div class="container main">

{% include 'slideshow' %}

{% include 'shop' %}

{% include 'cart-prev' %}

{% include 'about' %}

{% include 'quote' %}

{% include 'blog' %}

{% include 'contact' %}

{% include 'footer' %}

</div>




<!-- Explorer Template Files -->
<!-- Grab Google CDN's jQuery, fall back to local if offline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ 'jquery-1.9.1.min.js' | asset_url }}"><\/script>')</script>
{{ 'gumby.min.js' | asset_url | script_tag }}


{{ 'mint.js' | asset_url | script_tag }}

<!-- our scripts -->
{{ 'plugins.js' | asset_url | script_tag }}
{{ 'main.js' | asset_url | script_tag }}
{{ 'smoothscroll.js' | asset_url | script_tag }}


<!-- background slideshow -->

{{ 'supersized.js' | asset_url | script_tag }}
{{ 'slideshow.js' | asset_url | script_tag }}

<!-- END Explorer Template Files -->

<!-- Wookmark JS Files/Code -->

<!-- Include the imagesLoaded plug-in -->
  {{ 'jquery.imagesloaded.js' | asset_url | script_tag }}

  <!-- include colorbox -->
  {{ 'jquery.colorbox-min.js' | asset_url | script_tag }}

  <!-- Include the plug-in -->
  {{ 'jquery.wookmark.js' | asset_url | script_tag }}

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        // Prepare layout options.
        var options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 2, // Optional, the distance between grid items
          itemWidth: 210 // Optional, the width of a grid item
        };

        // Get a reference to your grid items.
        var handler = $('#tiles li');

        // Call the layout function.
        handler.wookmark(options);

        // Init lightbox
        $('a', handler).colorbox({
          rel: 'lightbox'
        });
      });
    })(jQuery);
  </script>

<!-- END Wookmark JS Files/Code -->


<!-- Collection Grid plugin -->
  {{ 'cbpShop.min.js' | asset_url | script_tag }}
  <script>
    var shop = new cbpShop( document.getElementById( 'cbp-pgcontainer' ) );
  </script>


<!-- Preloader script-->
<script type="text/javascript">
    //<![CDATA[
        $(window).load(function() { // makes sure the whole site is loaded
            $("#preloader").fadeOut("slow"); // will fade out the grey DIV that covers the website.
})
    //]]>
</script>
