<head>

  <!-- LPNav Files -->
  {{ 'demo.css' | asset_url | stylesheet_tag }}
  {{ 'style1.css' | asset_url | stylesheet_tag }}
      <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ 'styleIE.css' | asset_url }}" />
      <![endif]-->

  <!-- END LPNav Files -->

  <!-- Explorer Template Files -->
  {{ 'import.css' | asset_url | stylesheet_tag }}
  {{ 'shutter.css' | asset_url | stylesheet_tag }}

  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}


  <!-- Wookmark CSS File -->
  {{ 'wookmark.css' | asset_url | stylesheet_tag }}

  <!--Loading Graphic Bouncing Ball-->
  {{ 'loader-style.css' | asset_url | stylesheet_tag }}


  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>

  <style>
    .image-1{
    background-image:url({{ 'inspiration.jpg' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
    .image-2{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
    .image-3{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
    .image-4{
    background-image:url({{ 'pre1300.png' | asset_url }});
    background-size:cover;
    background-attachment:fixed;
    }
  </style>
  <!--END Explorer Template Files -->

</head>


<div class="rte">
  {{ page.content }}
</div>

<div id="preloader">
  <div id="status">
    &nbsp;
  </div>
</div>
<!-- begin main container -->
<div class="container main">

{% include 'slideshow' %}

  <!-- end slideshow section -->



{% include 'shop' %}

{% include 'about' %}

  <!-- quote parallax image section 3 -->
  <div class="image-3" data-stellar-background-ratio="0.5">
    <div class="black-tint">
      <!-- QUOTE -->
      <section class="row heading center bigpadding">
      <h4 class="ten columns centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est..</h4>
      </section>
    </div>
  </div>
  <!-- end  quote/image parallax div -->
  
{% include 'contact' %}


  <!-- begin footer -->
  <footer>
  <div class="black">
    <section class="row contact-info">
    <!-- 1st widget -->
    <div class="four columns">
      <h6>COME MEET US</h6>
      <h5>
      786 Some Place Nice, Rd Nice<br>
       State, Big Country 7860 </h5>
    </div>
    <!-- second widget -->
    <div class="four columns">
      <h6>CALL US TODAY</h6>
      <h5>
      <span>Tel: </span>+786 9876 543 210<br>
      <span>Fax: </span>+786 8876 543 210 </h5>
    </div>
    <!-- third widget -->
    <div class="four columns">
      <h6>WRITE TO US</h6>
      <h5 class="blue-text">
      Enquire@yourdomain.com<br>
       Support@yourdomain.com</h5>
    </div>
    </section>
    <!-- begin vertical align row -->
    <section class="row">
    <div class="valign">
    <!-- 50% width -->
    <div class="half">
      <h1 class="logo">EXPLORER</h1>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, sed ut perspiciatis unde omnis iste natus error sit voluptatem.
      </p>
    </div>
    <!-- 50% width -->
    <!-- add agency social media links -->
    <div class="half">
      <ul class="links">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-github"></i></a></li>
        <li><a href="#"><i class="icon-linkedin"></i></a></li>
        <li><a href="#"><i class="icon-google-plus"></i></a></li>
        <li><a href="#"><i class="icon-pinterest"></i></a></li>
      </ul>
    </div>
    </div>
    </section>
  </div>
  <!-- copyright -->
  <div class="white">
    <section class="row center">
    <p class="grey-text">
      © Explorer Template 2013. All rights reserved. Theme by CodeBlvck.
    </p>
    </section>
  </div>
  </footer>
  <!-- end footer -->
</div>



<!-- Explorer Template Files -->
<!-- Grab Google CDN's jQuery, fall back to local if offline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ 'jquery-1.9.1.min.js' | asset_url }}"><\/script>')</script>
{{ 'gumby.min.js' | asset_url | script_tag }}

<!-- our scripts -->
{{ 'plugins.js' | asset_url | script_tag }}
{{ 'main.js' | asset_url | script_tag }}
{{ 'smoothscroll.js' | asset_url | script_tag }}

<!-- home page only script -->
{{ 'index.js' | asset_url | script_tag }}
{{ 'ajax.js' | asset_url | script_tag }}

<!-- Preloader script-->
<script type="text/javascript">
    //<![CDATA[
        $(window).load(function() { // makes sure the whole site is loaded
            $("#status").fadeOut(); // will first fade out the loading animation
            $("#preloader").delay(350).fadeOut("slow"); // will fade out the grey DIV that covers the website.      
})
    //]]>
</script>

<!-- background slideshow -->

{{ 'supersized.js' | asset_url | script_tag }}
{{ 'slideshow.js' | asset_url | script_tag }}

<!-- END Explorer Template Files -->

<!-- Wookmark JS Files/Code -->

<!-- Include the imagesLoaded plug-in -->
  {{ 'jquery.imagesloaded.js' | asset_url | script_tag }}

  <!-- include colorbox -->
  {{ 'jquery.colorbox-min.js' | asset_url | script_tag }}

  <!-- Include the plug-in -->
  {{ 'jquery.wookmark.js' | asset_url | script_tag }}

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        // Prepare layout options.
        var options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 2, // Optional, the distance between grid items
          itemWidth: 210 // Optional, the width of a grid item
        };

        // Get a reference to your grid items.
        var handler = $('#tiles li');

        // Call the layout function.
        handler.wookmark(options);

        // Init lightbox
        $('a', handler).colorbox({
          rel: 'lightbox'
        });
      });
    })(jQuery);
  </script>

<!-- END Wookmark JS Files/Code -->
